services:
#  app_proxy: # (Not needed for local use)
#    environment:
#      APP_HOST: martinmeel-crushftp_server_1
#      APP_PORT: 9090
#      # Set false if another app from outside your umbrell wants to connect without login!
#      PROXY_AUTH_ADD: 'false'

  crushftp-init:
    image: 'crushftp/crushftp11:latest-dev'
    environment:
      - INIT=true
    volumes:
    - ${APP_DATA_DIR}/CrushFTP11/:/app/CrushFTP11
    entrypoint: ["/bin/sh", "-c", "/entrypoint.sh"]
    user: "${UID}:${GID}"
  crushftp:
    image: 'crushftp/crushftp11:latest'
    ports:
      - '18080:8080' # Web Interface
      - '19090:9090' # Admin Interface
      - '18443:443' # FTPS
      - '12121:2121' # FTP
      - '12222:2222' # SFTP
    volumes:
    - ${APP_DATA_DIR}/CrushFTP11/:/app/CrushFTP11
    working_dir: "/app/CrushFTP11"
    entrypoint: ["java", "-Ddir=/app/CrushFTP11", "-Xmx512M", "-jar", "/app/CrushFTP11/plugins/lib/CrushFTPJarProxy.jar", "-ad", "crushadmin", "PASSFILE"]
    user: "${UID}:${GID}"
    depends_on:
      crushftp-init:
        condition: service_completed_successfully
# Uncomment to use a local folder as data storage (for development purposes)
#volumes:
#  local_folder:
#    driver: local
#    driver_opts:
#      type: none
#      o: bind
#      device: ${PWD}
