services:
  app_proxy:
    environment:
      APP_HOST: martinmeel-gluetun_server_1
      APP_PORT: 8090

  server:
    image: lscr.io/linuxserver/qbittorrent:latest
    network_mode: "container:martinmeel-gluetun_server_1"
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
      - ${UMBREL_ROOT}/home/Downloads/complete:/downloads
      - ${UMBREL_ROOT}/home/Downloads/incomplete:/incomplete
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - WEBUI_PORT=8090
      - HEALTH_TARGET_ADDRESSES=cloudflare.com:443,github.com:443
      - HEALTH_SERVER_ADDRESS=127.0.0.1:9999
      - HEALTH_RESTART_VPN=on
      - DNS_SERVER=on
      - DNS_UPSTREAM_RESOLVERS=cira family, cira private, cira protected, cleanbrowsing adult, cleanbrowsing family, cleanbrowsing security, cloudflare, cloudflare family, cloudflare security, google, libredns, opendns, quad9, quad9 secured, quad9 unsecured, quadrant
   # healthcheck:
   #   test: ["CMD", "curl", "-f", "http://localhost:8090/ping"]
   #   interval: 30s
   #   timeout: 10s
   #   retries: 3
   #   start_period: 60s
    restart: unless-stopped
    stop_grace_period: 1m