services:
  # No Need to use the umbrel proxy app because gluetun will take over this functionality. Sort of ;-)
  #app_proxy:
  #  environment:
      #PROXY_AUTH_ADD: false
      #APP_HOST: martinmeel-gluetun_server_1
      #APP_PORT: 8888

  server:
    image: qmcgaw/gluetun:latest
    # container_name: martinmeel-gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      # HTTP proxy
      - 8888:8888
      # Gluetun control server mostly used with openvpn!
      - 8000:8000
      # There is no need to add the portnumbers of the applications that you need to work via gluetun.
      # Gluetun will handle this functionality.
      # Sonarr
      # removed else port conflict - 8989:8989
      # Prowlarr
      # removed else port conflict - 9696:9696
      # SABnzbd
      # removed else port conflict - 8080:8080
      # qBittorrent
      # removed else port conflict - 8090:8090
      # Radarr
      # removed else port conflict - 7878:7878
      # Huntarr
      # removed else port conflict - 9705:9705
      # Overseerr
      # removed else port conflict - 5055:5055
      # Tautulli
      # removed else port conflict - 8181:8181
      # Profilarr
      # removed else port conflict - 6868:6868
    volumes:
      - ${APP_DATA_DIR}/data:/gluetun
    environment:
      # ProtonVPN VPN Configuration
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${PROTONVPN_PRIVATE_KEY}
      - SERVER_COUNTRIES=Netherlands
      # Control server
      - HTTPPROXY=on
      - HTTPPROXY_LISTENING_ADDRESS=:8888
      # Enable port forwarding. Note! Make sure you use the private key which covers the portforwarding option.
      - VPN_PORT_FORWARDING=on
      - VPN_PORT_FORWARDING_PROVIDER=protonvpn
      # Script that automatically updates portforwarding on qBittorrent.
      - VPN_PORT_FORWARDING_UP_COMMAND=/bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":{{PORTS}},\"random_port\":false,\"upnp\":false}" http://127.0.0.1:8090/api/v2/app/setPreferences 2>&1'
      - VPN_PORT_FORWARDING_DOWN_COMMAND=/bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":0}" http://127.0.0.1:8090/api/v2/app/setPreferences 2>&1'
      # DNS over TLS
      #- DOT=on
      #- DOT_PROVIDERS=cloudflare,google
      # Ads and malware blocking (not needed if using protonvpn with private key for ade and malware blocking)
      #- BLOCK_ADS=on
      #- BLOCK_MALWARE=on
      # Enable the firewall
      #- FIREWALL=on
      # Enable the kill switch
      #- KILLSWITCH=on 
      # Timezone
      - TZ=Europe/Amsterdam
      # Health checks
      - HEALTH_ENABLED=on
      - HEALTH_TARGET_ADDRESSES=cloudflare.com:443,github.com:443
      - HEALTH_SERVER_ADDRESS=127.0.0.1:9999
      - HEALTH_RESTART_VPN=on
      # DNS configuration
      - DNS_SERVER=on
      - DNS_UPSTREAM_RESOLVERS=cloudflare
      # Allow local network access
      - FIREWALL_OUTBOUND_SUBNETS=192.168.2.0/24
    # Health check URL
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:9999/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    restart: unless-stopped
    stop_grace_period: 1m