services:
  #app_proxy:
  #  environment:
      #PROXY_AUTH_ADD: false
      #APP_HOST: martinmeel-gluetun_server_1
      #APP_PORT: 8888

  server:
    image: qmcgaw/gluetun:latest
    # container_name: martinmeel-gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      # HTTP proxy
      - 8888:8888
      # Gluetun control server mostly used with openvpn!
      - 8000:8000
      # Expose ports for other containers to use
      # Sonarr
      # removed to test port conflict - 8989:8989
      # Prowlarr
      # removed to test port conflict - 9696:9696
      # SABnzbd
      # removed to test port conflict - 8080:8080
      # qBittorrent
      # removed to test port conflict - 8090:8090
      # Wirks without errors on qbittorrent side!!! So port needs to be removed because "The port will still be accessible within the Docker network, which is what app_proxy needs."
      # Radarr
      # removed to test port conflict - 7878:7878
    volumes:
      - ${APP_DATA_DIR}/data:/gluetun
    environment:
      # ProtonVPN VPN Configuration
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${PROTONVPN_PRIVATE_KEY}
      - SERVER_COUNTRIES=Netherlands
      # Control server
      - HTTPPROXY=on
      - HTTPPROXY_LISTENING_ADDRESS=:8888
      # Enable port forwarding. Note! Make sure you use the private key which covers the portforwarding option.
      - VPN_PORT_FORWARDING=on
      - VPN_PORT_FORWARDING_PROVIDER=protonvpn
      # Timezone
      - TZ=Europe/Amsterdam
      # Healthchecks
      - HEALTH_TARGET_ADDRESSES=cloudflare.com:443,github.com:443
      - HEALTH_SERVER_ADDRESS=127.0.0.1:9999
      - HEALTH_RESTART_VPN=on
      - DNS_SERVER=on
      - DNS_UPSTREAM_RESOLVERS=cloudflare
      - FIREWALL_OUTBOUND_SUBNETS=192.168.2.0/24
    # Health check URL
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:9999/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    restart: unless-stopped
    stop_grace_period: 1m