services:
  #app_proxy:
  #  environment:
      #PROXY_AUTH_ADD: false
      #APP_HOST: martinmeel-gluetun_server_1
      #APP_PORT: 8888

  server:
    image: qmcgaw/gluetun:v3.40.3
    # container_name: martinmeel-gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      # HTTP proxy
      - 8888:8888
      # Gluetun control server
      - 8000:8000
      # Expose ports for other containers to use
      # Sonarr
      - 8989:8989
      # Prowlarr
      - 9696:9696
      # SABnzbd
      - 8080:8080
      # qBittorrent
      - 8090:8090
      # Radarr
      - 7878:7878
    volumes:
      - ${APP_DATA_DIR}/data:/gluetun
    environment:
      # ProtonVPN VPN Configuration
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${PROTONVPN_PRIVATE_KEY}
      #- SERVER_REGIONS=Netherlands
      - SERVER_CITIES=Amsterdam
      # Firewall settings
      # FIREWALL_OUTBOUND_SUBNETS: ${NETWORK_SUBNET:-10.21.0.0/16}
      
      # DNS settings
      # DOT: "on"
      
      # Control server
      - HTTPPROXY: "on"
      - HTTPPROXY_LISTENING_ADDRESS: ":8888"
      # SHADOWSOCKS: "off"
      
      # Timezone
      - TZ:=Europe/Amsterdam
      
      # Health check URL
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://localhost:8000/v1/publicip/ip > /dev/null || exit 1"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 45s