services:
  app_proxy:
    environment:
      PROXY_AUTH_ADD: false
      APP_HOST: martinmeel-gluetun_server_1
      APP_PORT: 8888

  server:
    image: qmcgaw/gluetun:v3.40.3
    # container_name: martinmeel-gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      # Gluetun control server
      - 8888:8888
      # Expose ports for other containers to use
      # Sonarr
      - 8989:8989
      # Prowlarr
      - 9696:9696
      # SABnzbd
      - 8080:8080
      # qBittorrent
      - 8090:8090
      # Radarr
      - 7878:7878
    volumes:
      - ${APP_DATA_DIR}/data:/gluetun
    environment:
      # Windscribe VPN Configuration
      - VPN_SERVICE_PROVIDER=windscribe
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WINDSCRIBE_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      - WIREGUARD_PRESHARED_KEY=${WIREGUARD_PRESHARED_KEY}
      - SERVER_REGIONS=Netherlands
      
      # Firewall settings
      # FIREWALL_OUTBOUND_SUBNETS: ${NETWORK_SUBNET:-10.21.0.0/16}
      
      # DNS settings
      # DOT: "on"
      
      # Control server
      # HTTPPROXY: "on"
      # HTTPPROXY_LISTENING_ADDRESS: ":8688"
      # SHADOWSOCKS: "off"
      
      # Timezone
      - TZ:=Europe/Amsterdam
      
      # Health check URL
      #HEALTH_VPN_DURATION_INITIAL: 60s
    #restart: unless-stopped
    #stop_grace_period: 30s
    #healthcheck:
    #  test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8888/v1/openvpn/status"]
    #  interval: 30s
    #  timeout: 10s
    #  retries: 3
    #  start_period: 60s